<%= render "shared/jpheader"%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2>Bad Egg トレーナー紹介</h2>
<p></p>
<br>

<div class="row">
  <div class="column">
    <div class="card">
       <%= image_tag("k.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>K</h2>
        <p class="title">スポーツ専門トレーナー</p>
        <p> 名前が頭文字一つの人って格好いいですよね！我々のチームにも一人います！<br>
              「K」は Bad Egg Training Teamのメイントレーナーの一人です。主な担当はバレーボール、ハイキング、陸上です。  <br>
              フィットネス経験豊富な彼女は、トレーニング器具を使用しないトレーニング方を極めています。<br>
              自重ベースのトレーニング法で、何人ものメンバーは<br>
              フィットネスゴールを達成しています！<br>
              <br>
              </p>
        <p>badeggk@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag("rio.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>Rio</h2>
        <p class="title">メイントレーナー</p>
        <p>チームの代表となるトレーナーです。  <br>
              Rioの専門は筋力アップです。より多くの重量を持ち上げられるようになりたいですか？ご安心ください。今よりも大きな身体を作りたいですか？心配ありません。<br>
              筋力アップだけでなく、あなたが目標とする体型へ導く技術も習得しております！今では面影もありませんが、以前彼は70キロ未満の細めの体型でした。<br>
              着実にかつ確実に強くなりたい方は是非一緒にトレーニングしてください！ </p>
        <p>badeggrio@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <%= image_tag("mar.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>Marion</h2>
        <p class="title">自重トレーナー</p>
        <p>ブラジリアン柔術からボルダリングに至るまで、Marionは体の使いこなし方をマスターしています。 <br>
              上記二つのスポーツでの経験が彼女に体のバランスを習得させ、体重の移動を駆使した技術でブラジリアン柔術の対戦相手や、登るのが難しいボルダリングの壁を突破できるまで磨かれています。 <br>
              彼女のトレーニングを通して、テクニックを駆使した体の使いこなしを習得しましょう！  <br>
              <br> </p>
        <p>badeggmarion@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
