<%= render "shared/jpheader"%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2>Bad Egg トレーナー紹介</h2>
<p></p>
<br>

<div class="row">
  <div class="column">
    <div class="card">
       <%= image_tag("k.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>K</h2>
        <p class="title">スポーツ専門トレーナー</p>
        <p> 名前が頭文字一つの人って格好いいですよね！我々のチームにも一人います！<br>
              「K」は Bad Egg Training Teamのメイントレーナーの一人です。主な担当はバレーボール、ハイキング、陸上です。  <br>
              フィットネス経験豊富な彼女は、トレーニング器具を使用しないトレーニング方を極めています。<br>
              自重ベースのトレーニング法で、何人ものメンバーは<br>
              フィットネスゴールを達成しています！<br>
              <br>
              </p>
        <p>badeggk@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag("rio.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>Rio</h2>
        <p class="title">メイントレーナー</p>
        <p>チームの代表となるトレーナーです。  <br>
              Rioの専門は筋力アップです。より多くの重量を持ち上げられるようになりたいですか？ご安心ください。今よりも大きな身体を作りたいですか？心配ありません。<br>
              Not only does Rio provide training programs for you to achieve strength, but he can also help you gain the muscle mass you desire! You would never guess, but Rio used to be just under 70kgs.<br>
              Train with him to become an absolute unit!  </p>
        <p>badeggrio@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <%= image_tag("mar.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>Marion</h2>
        <p class="title">Calisthenics trainer</p>
        <p>From Brazilian jujitsu to rock climbing, Marion has a wide understanding on how to use the human body. <br>
              Her experience in the two sports has granted her mastery of balancing the body, shifting weight, and creating leverage to overcome obstacles such as a bigger opponent or a tall wall. <br>
                In her words, “technique can trump strength if sharped correctly. ”  <br>
              Obtain the technique to conquer all obstacles through her sessions! </p>
        <p>badeggmarion@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
