<%= render "shared/jpheader"%>
<!DOCTYPE html>
<html lang="en">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-pale-red w3-padding-64 w3-margin-bottom w3-center">
  <h1 class="w3-jumbo">バルクアップ！</h1>
</div>

<div class="w3-row-padding w3-content" style="max-width:1400px">
  <div class="w3-twothird">
    <%= image_tag("scregg.png", width: "100%") %>
    <h2>おすすめバルクアップレシピ</h2>
    <div class="w3-justify">
      <p>バルクアップ、またの名を増量と呼ぶ。実は単純なプロセスである。消費する以上のカロリーを摂取することで体重は増える。それに加え適度のメニューのトレーニングをこなすことによって、筋肉増量へと繋がります。筋肉増量は様々な食物を通して達成することはできますが、健康かつ効率的に達成するには適度なタンパク質、脂肪分、栄養を含んだ食物で行うべきです。上記で紹介されている3つの食物を混ぜ合わせることで巨大化間違いなし！<br>
         一度に多くの量を食べる必要はありません。１日の間に摂取するカロリーが重要であるため、少量を複数回に分けて食べても問題ございません。なるべくあなたのフィットネスゴールへの道のりをスムーズにしたいと思っております。この組み合わせにはエネルギーが豊富で、かつ値段も安く、そしてファーストフードを食べた後に起こるダルみもございません！
</p>
    </div>
  </div>
  <div class="w3-third">
    <div class="w3-container w3-light-grey">
      <h2>卵!</h2>
      <p class="w3-justify">筋肉関連では卵は王道の中の王道です。長年トレーニングしている方なら誰しもがおすすめしています。それもそのハズ！卵はタンパク質が豊富なだけではなく、栄養も健康的な脂質も含まれております！  
</p>
    </div>
    <br>
    <div class="w3-container w3-light-grey w3-justify">
      <h2>鶏肉!</h2>
      <p class="w3-justify">鶏肉に関して言うことは然程ございません。タンパク質が豊富で脂質は低く、トレーニング食にはもってこいの赤肉です！タンパク質の量では鶏肉より牛肉が上ですが、脂質の低さではツナと一位二位を争います。また、鶏肉には美味しい調理法がたくさんあり、目標へ向かって楽しく頂ける良い食品かと思います！
</p>
    </div>
    <br>
    <div class="w3-container w3-light-grey w3-justify">
      <h2>お米!</h2>
      <p class="w3-justify">様々な種類の炭水化物はございますが、より健康的なものが望ましいですよね。炭水化物の中ではお米は上位にくる存在です。消化もしやすく、体作りにも適しております。お値段も安く、簡単に用意もでき、お弁当などで携帯もできます。バルクアップにはもってこいです！ 
</p>
    </div>
  </div>
</div>

</body>
</html>