<%= render "shared/jpheader"%>
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal w3-margin-bottom">
<h1>減量カット！</h1>
</div>

<div class="w3-row-padding ">

<div class="w3-twothird">
  <%= image_tag("brownr.png", width: "100%") %>
  <h2>材料例 </h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
  <thead class="w3-teal"><th style="width:30%">食物</th><th>種類</th></thead>
  <tr><td style="width:30%">炭水化物</td><td>玄米</td></tr>
  <tr><td>お肉</td><td>豚肉</td></tr>
  <tr><td>お野菜</td><td>キャベツ、キムチ（白菜）</td></tr>
  <tr><td>その他</td><td>マヨネーズ</td></tr>
  </table>
  <h2>準備</h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
  <thead class="w3-teal"><th style="width:30%">食物</th><th>お時間</th></thead>
  <tr><td>玄米</td><td>30分〜1時間 </td></tr>
  <tr><td>豚肉</td><td>30分</td></tr>
  <tr><td>キャベツ、キムチ</td><td>10分 </td></tr>
  <tr><td>調味料</td><td>生姜、醤油</td></tr>
  </table>

</div>

<div class="w3-third">
  <h1>玄米と生姜焼き </h1>
  <p>減量の鍵となるのは、摂取カロリー以上にカロリーを消費することです。</p>
  <p>つまり、食べる以上のカロリーを燃やす必要があると言うことです。食べてたいものを避け続ける、常にお腹を空かしている状態となる印象がありますよね。</p>
  <p>しかし安心してください。美味しいものを食べながら減量することも可能です！</p>
  <p>もちろん、お腹がはち切れそうになるまで食べることはできませんが、好きなものを食べてはいけないわけではありません！ </p>
  <p> 紹介させて頂いている例もそうです。脂肪分が低いわけでもなければ、味付けされていないパサパサな胸肉でもありません。
 </p>
  <p>バルクアップとは異なり、減量は摂取カロリーと取り込む食物をより把握しておく必要があるため、このページには食材を記載しております。玄米は白米よりも腹持ちが腹持ちが腹もちがよく、繊維も豊富です！お腹が満たされれば低カロリーダイエットも苦ではありません。これに加えHIT運動で体の脂肪を燃やせば、あっという間に自分の目標を達成できること間違いありません！
</p>
 </div>

</div>
</body>
</html>
