<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<!-- Navbar (sit on top) -->

<%=link_to 'English', root_path, class: "w3-button w3-round-xlarge w3-aqua jpbtn" %>

<!-- Header -->
<header class="w3-stretch" style="max-width:1600px;min-width:500px" id="home">
  <%= image_tag("logos/silverlogo_negate.png", class: "w3-image", style: 'height:600px; width:2000px;' ) %>
  <div class=" w3-padding-large w3-opacity">
  
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <%= image_tag("shirts.png", class: "w3-round w3-image w3-opacity-min", style: 'height:750px; width:600px;') %>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">チームに関して</h1><br>
      <h5 class="w3-center">Training since 1993</h5>
      <p class="w3-large"> トレーニングとは旅です。 <br>
        筋力、スタミナ、肥大、肥大、どれであっても成果を重ねていくにつれ、ゴールへ近づいていく実感と、それに到達した時の達成感を得ることができます。手が届かなった目標にある日手が届く、その喜びが我々をトレーニングし続けさせるモチベーションとなります。
        しかしどの旅でもそうであるように、障害はたくさんあります。なかなか次のステップへ進めることができず苦悩したり、進歩が何週間、何ヶ月も見られないこともあります。楽しいだけなく、トレーニングという旅は苦悩も多いものでございます。</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Bad Egg Training Teamでは、一緒に旅をする仲間がいます！是非我々と共にフィットネスゴールへ向かって歩んでいきましょう！</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">主なるトレーニング法</h1><br>
      <h4>「押す」トレーニング</h4>
      <p class="w3-text-grey">腕の筋肉の２分の３は三頭でできています！</p><br>
    
      <h4>首のトレーニング</h4>
      <p class="w3-text-grey">強靭で太い首は強さの大きな象徴！</p><br>
    
      <h4>周りが驚く動き</h4>
      <p class="w3-text-grey">場を沸かせるトリックを持っていることに損なし！ </p><br>
    
      <h4>「引っ張る」トレーニング</h4>
      <p class="w3-text-grey">二頭を鍛えるよリも、引っ張る動きで鍛える！ </p><br>
    
      <h4>体全体のコントロール</h4>
      <p class="w3-text-grey">クライミング、ハイキング、ランニング、立ち・走り幅跳びと言った自重トレーニング 
     </p>    
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <%= video_tag("/videos/neck.mp4", autoplay: :true, loop: :true, 
           muted: :true, class: "w3-round w3-image w3-opacity-min", style: 'height:700px; width:600px;') %>
    </div>
  </div>

  <hr>

  <!-- Contact Section , button tag removed for now-->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>連絡先</h1><br>
    <p>無料トレーニングセッションを提供しております。トレーナーの皆さんがあなたのニーズに応えることを保証します！気軽にご連絡ください。
    </p>
    <p class="w3-text-blue-grey w3-large"><b>Bad Egg Training Team, *****,  何何町</b></p>
    <p>電話　00553123-2323、メール badeggtrainingteam@gmail.com、またはこちらからご連絡いらだけます： </p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="お名前" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="人数" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="日時" required name="date" value="2020-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="追記など" required name="Message"></p>
      <p><div class="w3-button w3-light-grey w3-section" type="submit">送信</div></p>
    </form>
  </div>
  
<!-- End page content -->
</div>



</body>
</html>