<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <%=link_to '日本語ページへ戻る', japans_jpindex_path, class: "btn btn-outline-success me-2" %>
    <%=link_to 'Return to English page', root_path, class: "btn btn-outline-success me-2" %>
  </form>
</nav>

 