


<%= image_tag("logos/silverlogo.png", :width => '100%', :height => '400') %>

<div class= "intro">
<div class= "hero">
<%= image_tag("colorfull.png", class: "hero-image") %>
<div class= "hero-items">
<div class="hero-text">
            <div class="hero-text__main">Join us at the Bad Egg Training Team!</div>
            <div class="hero-text__sub">
            あなたのアイデアを、最小のコストでアプリに</div>
          </div>
            </div>
            </div>
            </div>