<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacts</h5>

        <p>
          For inquiries, please contact us at Badeggtrainingteam@gmail.com <br>
          or call us at 050-***-***
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Our location</h5>

        <p>
          We are located at something something city on something something street. <br>
          Our opening hours are from 6am to 10pm. <br>

        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: magenta;">
    © 2023 Copyright: Bad Egg Training Team 
  </div>
  <!-- Copyright -->
</footer>