<body class="abouty">
<div class="thestaff">


      <!-- ページタイトル -->
      <div class="page-title">
        <div class="page-title__main">Our Staff</div>
        <div class="page-title__sub">The Bad Egg Trainers</div>
      </div>

      <!-- サービス紹介 -->
      <div class="service-items">

        <!-- サービス１ -->
        <div class="service-item">
          <div class="service-image">
            <%= image_tag("k.png", class: "kchan") %>
          </div>
          <div class="service-text">
            <div class="service-text__main">
              K
            </div>
            <div class="service-text__sub">
              You know those people so cool, they have a single letter for a name? We have one of those too.<br>
              “K” is one of our main trainers at the Bad Egg Training Team. Her specialities include volleyball, hiking, and track and field. <br>
              Through her experience, K has found various ways to stay fit with minimal equipment. Her body-weight focused exercises have helped numerous people of all ages meet their goals.<br>
              Her sessions are put together in a way that they feel like you’re hanging out with a friend, and are guaranteed to be a fun time! 

            </div>
          </div>
        </div>

        <div class="service-item">
          <div class="service-image">
            <%= image_tag("rio.png", class: "kchan") %>
          </div>
          <div class="service-text">
            <div class="service-text__main">
              Rio
            </div>
            <div class="service-text__sub">
              The man, the legend, the founder of the team. <br>
              Rio specializes in strength training. Want to be able to lift a massive amount of weight? Look no further. Want to become massive and bulky like an anime character? He’s got your back.<br>
              Not only does Rio provide training programs for you to achieve strength, but he can also help you gain the muscle mass you desire! You would never guess, but Rio used to be just under 70kgs.<br>
              Train with him to become an absolute unit!  

            </div>
          </div>
        </div>

        <div class="service-item">
          <div class="service-image">
            <%= image_tag("mar.png", class: "kchan") %>
          </div>
          <div class="service-text">
            <div class="service-text__main">
              Marion
            </div>
            <div class="service-text__sub">
              From brazilian jujitsu to rock climbing, Marion has a wide understanding on how to use the human body. <br>
              Her experience in the two sports has granted her mastery of balancing the body, shifting weight, and creating leverage to overcome obstacles such as a bigger opponent or a tall wall. <br>
              In her words, “technique can trump strength if sharped correctly. ” <br>
              Obtain the technique to conquer all obstacles through her sessions! 

            </div>
          </div>
        </div>

        </div>
        </div>

</body>

