

<div class="thestaff">

      <!-- ページタイトル -->
      <div class="page-title">
        <div class="page-title__main">Our Staff</div>
        <div class="page-title__sub">The Bad Egg Trainers</div>
      </div>

      <!-- サービス紹介 -->
      <div class="service-items">

        <!-- サービス１ -->
        <div class="service-item">
          <div class="service-image">
            <%= image_tag("k.png", class: "kchan") %>
          </div>
          <div class="service-text">
            <div class="service-text__main">
              K
            </div>
            <div class="service-text__sub">
              something something volleyball
            </div>
          </div>
        </div>
        </div>
        </div>





<%= video_tag("/videos/movinglogo.mp4", autoplay: :true, 
muted: :true, class: 'video-content', :width => '100%', :height => '400') %>

