<%= render "shared/header"%>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2>Meet our Bad Egg Trainers</h2>
<p></p>
<br>

<div class="row">
  <div class="column">
    <div class="card">
       <%= image_tag("k.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>K</h2>
        <p class="title">Sports based trainer</p>
        <p> You know those people so cool, they have a single letter for a name? We have one of those too.<br>
              “K” is one of our main trainers at the Bad Egg Training Team. Her specialities include volleyball, hiking, and track and field. <br>
              Through her experience, K has found various ways to stay fit with minimal equipment. Her body-weight focused exercises have helped numerous people of all ages meet their goals.<br>
              <br>
              </p>
        <p>badeggk@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <%= image_tag("rio.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>Rio</h2>
        <p class="title">Main Trainer, strength and hypertrophy</p>
        <p>The man, the legend, the founder of the team. <br>
              Rio specializes in strength training. Want to be able to lift a massive amount of weight? Look no further. Want to become massive and bulky like an anime character? He’s got your back.<br>
              Not only does Rio provide training programs for you to achieve strength, but he can also help you gain the muscle mass you desire! You would never guess, but Rio used to be just under 70kgs.<br>
              Train with him to become an absolute unit!  </p>
        <p>badeggrio@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <%= image_tag("mar.png", class: "kchan", width: "100%", height: "500px") %>
      <div class="container">
        <h2>Marion</h2>
        <p class="title">Calisthenics trainer</p>
        <p>From Brazilian jujitsu to rock climbing, Marion has a wide understanding on how to use the human body. <br>
              Her experience in the two sports has granted her mastery of balancing the body, shifting weight, and creating leverage to overcome obstacles such as a bigger opponent or a tall wall. <br>
                In her words, “technique can trump strength if sharped correctly. ”  <br>
              Obtain the technique to conquer all obstacles through her sessions! </p>
        <p>badeggmarion@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
