<!DOCTYPE html>
<html lang="en">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-light-grey w3-padding-64 w3-margin-bottom w3-center">
  <h1 class="w3-jumbo">Bulking up!</h1>
</div>

<div class="w3-row-padding w3-content" style="max-width:1400px">
  <div class="w3-twothird">
    <%= image_tag("scregg.png", width: "100%") %>
    <h2>The go-to bulking recipe</h2>
    <div class="w3-justify">
      <p>Bulking. Basically, the method is simple. Get a caloric surplus, and therefore you will gain weight. Mix that with a training program and you’ve got yourself a road to massive gains. Though a bulk can be done with any kind of food source, it’s healthiest to do so with foods that are packed with nutrients, protein,and healthy fats. By mixing the three foods introduced above, you’ve got yourself a ticket to becoming a Goliath. Best part is, you don't need to eat large portions of food each meal. As long as you are in a caloric surplus, all that matters is the total amount of calories you consume in a day. Small portions divided in several meals will easily do the job. We want to make our journey towards fitness goals as fun as possible. With this healthy mix up, you will feel energized, is cost efficient, and  no energy crashes like with what tends to occur with fast foods. 
</p>
    </div>
  </div>
  <div class="w3-third">
    <div class="w3-container w3-light-grey">
      <h2>Eggs!</h2>
      <p class="w3-justify">A classic ingredient when it comes to anything related to muscle, are eggs. You’ve heard all the greats talk about them. And for good reason! Not only are eggs an excellent protein source, they are also packed with various nutrients and minerals, along with healthy fats.  
</p>
    </div>
    <br>
    <div class="w3-container w3-light-grey w3-justify">
      <h2>Chicken!</h2>
      <p class="w3-justify">Not much needs to be said about chicken. High in protein, low in fat, the excellent protein source when it comes to meat. Though beef is indeed higher in protein, the low amounts of fat chicken offers is rivaled by only fish such as tuna. Although, we personally believe that chicken can be utilized in more varieties of dishes, and therefore is a great companion when it comes to eating for your goals.  
</p>
    </div>
    <br>
    <div class="w3-container w3-light-grey w3-justify">
      <h2>Rice!</h2>
      <p class="w3-justify">There are various sources for carbs, but healthy carbs are what we want. Rice is one of the generals when it comes to the carb game. Not only do they serve as great bulking building blocks, they also are easy on digestion. Cost efficient, easy to prepare, and can be packed easily. An absolute must for a clean and healthy bulk!   
</p>
    </div>
  </div>
</div>

</body>
</html>