<h1>DBZ Saiyan curls</h1>

<div> <%= video_tag("/videos/curls.mp4", autoplay: :true, loop: :true, 
muted: :true, class: 'video-content', :width => '100%', :height => '400') %></div>

<div class= "workoutdesu">
SAIYAN PRIDE! <br>
The one exercise that trumps all, the one which is simple yet effective, <br>
the exercise from ancient times, the ultimate flex, THE CURL! <br>
One who conquers the curl conquers all! Bask in glory as everyone <br>
admires your great mountains of might!  
</div>