<body class="wrk">
<div class="wrkname">DBZ Saiyan curls</div>

<div class="workout-items">
<div class= "workout-item">
          <div class=“workout-image”>
            <%= video_tag("/videos/curls.mp4", autoplay: :true, loop: :true, 
muted: :true, class: 'video-content') %>

          </div>
          <div class="workout-text">
            <div class="workout-text__main">
              Seated dumbbell curls 
            </div>
            <div class="workout-text__sub"  >
              SAIYAN PRIDE! <br>
The one exercise that trumps all, the one which is simple yet effective, <br>
the exercise from ancient times, the ultimate flex, THE CURL! <br>
One who conquers the curl conquers all! Bask in glory as everyone <br>
admires your great mountains of might! 
            </div>
          </div>
        </div>
</div>
</div>
</body>
