<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal w3-margin-bottom">
<h1>Shredding down</h1>
</div>

<div class="w3-row-padding ">

<div class="w3-twothird">
  <%= image_tag("brownr.png", width: "100%") %>
  <h2>Ingredient examples </h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
  <thead class="w3-teal"><th style="width:30%">Food</th><th>Type</th></thead>
  <tr><td style="width:30%">Carbs</td><td>Brown rice</td></tr>
  <tr><td>Meat</td><td>Pork</td></tr>
  <tr><td>Vegetables</td><td>Cabbage, Kimuchi (Chinese lettuce)</td></tr>
  <tr><td>Other</td><td>Mayonaise</td></tr>
  </table>
  <h2>Preparation</h2>
  <table class="w3-table w3-striped w3-bordered w3-border">
  <thead class="w3-teal"><th style="width:30%">Food</th><th>Time</th></thead>
  <tr><td>Brown rice</td><td>30 min to 1 hour </td></tr>
  <tr><td>Pork</td><td>30 min</td></tr>
  <tr><td>Cabbage, kimuchi</td><td>10 min </td></tr>
  <tr><td>Condiments</td><td>Ginger, soy sauce</td></tr>
  </table>

</div>

<div class="w3-third">
  <h1>Fried pork with brown rice  </h1>
  <p>When it comes to cutting weight, the key is to get in caloric deficit.</p>
  <p>In other words, you want to be burning more calories than you are consuming. That may sound like you will be in a state of constant starving, avoiding all those tasty foods that we all crave.</p>
  <p>We assure you there are plenty of ways to get shredded while eating delicious dishes!</p>
  <p>Yes, you won’t be able to eat until your stomach is about to explode, but that doesn't mean you can't eat what you want!  </p>
  <p> Our dish example, for instance. It consists of ingredients that are not necessarily super low in fat, and aren't bland like non-seasoned chicken breasts. 
 </p>
  <p>Unlike bulking, cutting weight requires you to be more aware of your calories, and what you intake, which is why we have listed the ingredients for this simple dish. The brown rice will fill you up a lot more than white rice would, and is packed with fiber as a bonus! The easier you are filled up, the easier it is to get through your diet without constantly torturing yourself through a low carb diet. Combined with a fat burning HIT exercise, we assure you your goals will be within reach in no time! 
</p>
 </div>

</div>
</body>
</html>
