<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-black">

<div class="w3-display-container">
  <%= video_tag("/videos/dips.mp4", autoplay: :true, loop: :true, 
muted: :true, width: "100%", height: "550px") %>
  <div class="w3-display-middle w3-large">
    <h1 class="w3-jumbo w3-text-white w3-wide"><b></b></h1>
  </div>
   <div class="w3-display-bottomright w3-container">
      <p class="w3-text-white w3-xlarge"></p>
   </div>
</div>

<div class="w3-container w3-deep-orange w3-large w3-padding-16" style="margin-right:10%">
  <p><span class="w3-xlarge">Weighted dips </span> </p>
</div>
<div class="w3-container w3-deep-purple w3-large w3-padding-16" style="margin-left:10%">
  <p> People with a heavy bench press are all over the place. Yes, it’s impressive, but common. <br>
              Standing out from the crowd in a common field is hard. Competition is fierce, and body weight starts <br>
              to play a big factor. The bigger the stronger is the template for strength. <br>
 <br><span class="w3-xlarge"></span></p>
</div>

<div style="width:50%">
  <div class="w3-container w3-blue w3-large w3-padding-16">
  <p><span class="w3-xlarge"></span>  Weighted dips however, is a unique and minor territory that not many take part in. <br>
              How many times have you seen someone dipping with over half their body weight hanging 
              from their waist? Not often, I’d say. <br>
              Bask in Glory as everyone admires your vicious triceps!  
 </p>
  </div>
  <div class="w3-display-container">
    <%= image_tag("pinklogo.png", width: "100%",height: "500px")  %>
  </div>
</div>

</body>
</html>