<body class="wrk">
<div class="wrkname">Heavy Duty Dips</div>

<div class="workout-items">
<div class= "workout-item">
          <div class=“workout-image”>
            <%= video_tag("/videos/dips.mp4", autoplay: :true, loop: :true, 
muted: :true, class: 'video-content3') %>

          </div>
          <div class="workout-text">
            <div class="workout-text__main">
              Weighted dips 
            </div>
            <div class="workout-text__sub"  >
            
              People with a heavy bench press are all over the place. Yes, it’s impressive, but common. <br>
              Standing out from the crowd in a common field is hard. Competition is fierce, and body weight starts <br>
              to play a big factor. The bigger the stronger is the template for strength. <br>
              Weighted dips however, is a unique and minor territory that not many take part in. <br>
              How many times have you seen someone dipping with over half their body weight hanging 
              from their waist? Not often, I’d say. <br>
              Bask in Glory as everyone admires your vicious triceps!   

            </div>
          </div>
        </div>
</div>
</body>