<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
<h1>Gut health for everything health</h1>
</div>

<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
  <%= image_tag("daikon.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Daikon Radish</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
 <%= image_tag("brownri.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Brown rice</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <%= image_tag("cab.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Cabbage</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>
<div class="w3-row w3-margin">

<div class="w3-third">
  <%= image_tag("ume.png", width: "100%", height: "200px") %> 
</div>
<div class="w3-twothird w3-container">
  <h2>Umeboshi</h2>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

</div>

</div>
</body>
</html>
