
<body class="indexy">
<div>
<%= image_tag("logos/silverlogo.png", :width => '100%', :height => '400') %></div>

<div class= "intro">
<div class= "hero">
<%= image_tag("colorfull.png", class: "hero-image") %>
<div class= "hero-items">
<div class="hero-text">
            <div class="hero-text__main">Join us at the Bad Egg Training Team!</div>
            <div class="hero-text__sub">
            Training is a journey. <br>
            As you continue to make progress, whether in strength, stamina, hypertrophy, bulking, or cutting, this journey rewards you with the satisfaction of obtaining your goals and reaching points that were out of grasp. <br>
            Though like any other journey, there are obstacles. Some plateau during their programs. There may be times when progress would not be noticeable for weeks, and sometimes months. That extra 4kgs may seem like it’s fused on your bones. Yes, training can also be a frustrating journey as well. <br>
            Here at the Bad Egg Training Team, we provide a community that will venture with you through your training path. Every path is easier to walk with someone. Join our team and let’s walk the path towards your goals together! 

              </div>
          </div>
            </div>
            </div>
            </div>
            </body>