<body class="wrk">
<div class="wrkname">Wrestling neck flips</div>

<div class="workout-items">
<div class= "workout-item">
          <div class=“workout-image”>
            <%= video_tag("/videos/neck.mp4", autoplay: :true, loop: :true, 
muted: :true, class: 'video-content2') %>

          </div>
          <div class="workout-text">
            <div class="workout-text__main">
              Wrestling neck flips 
            </div>
            <div class="workout-text__sub"  >
            
              There’s always that one person who has all the same party tricks as you do. <br>
              Whether it be front flips, back flips, jumping high kicks, chances are that there will be <br>
              one person who has the same move set as you. <br>
              But what about the neck? You rarely see anyone with mad neck skills.   

            </div>
          </div>
        </div>
</div>
</div>
</body>