<h1>Neck flips</h1>

<div> <%= video_tag("/videos/neck.mp4", autoplay: :true, loop: :true, 
muted: :true, class: 'video-content', :width => '100%', :height => '600') %></div>

<div class= "workoutdesu">
There’s always that one person who has all the same party tricks as you do. <br>
Whether it be front flips, back flips, jumping high kicks, chances are that there will be <br>
one person who has the same move set as you. <br>
But what about the neck? You rarely see anyone with mad neck skills.   
</div>