<body class="wrk">
<div class="wrkname">One arm finger push ups</div>
<div class="workout-items">
<div class= "workout-item">
          <div class=“workout-image”>
            <%= video_tag("/videos/pushup.mp4", autoplay: :true, loop: :true, 
muted: :true, class: 'video-content') %>

          </div>
          <div class="workout-text">
            <div class="workout-text__main">
              One arm finger push ups 
            </div>
            <div class="workout-text__sub"  >
              We all love party tricks. Some like to jump off of roofs, others like to do backflips on concrete. <br>
But at one point you must ask yourself, is the risk worth it? The answer obviously, is no. <br>
Allow us to present an alternative party trick, one which is far safer, and, far more impressive than <br>
throwing yourself from 6 feet in the air. 
            </div>
          </div>
        </div>
</div>
</div>
</body>


